:root {
    --white: #ffffff;
    --gray: #d3d3d3;
    --purple: #867DD8;
    --purple-light: #9b92ef;
    --dark:  #171818;
  }
  


#nav-container{
    width:100% !important;
}

body{
    background-color: var(--dark) ;
}

h1{
    color: var(--white);
}


/* #####################################################   Intro Section  ################################################ */

#my-name{
    font-size: 4rem;
    font-weight: 700;
    color: var(--white);
}

.intro-text-container{
    width: 99%;
    /* border-left:4px #867DD8 solid;
    padding-left:2rem; */
    margin-top: 1rem;
}

#intro-text{
    color:var(--gray);
}
#cta-button{
    background-color: var(--purple);
    border-radius: 0;
    color: #ffffff;
}
#welcome-text{
    color: var(--purple-light);

}

#hand{
    width: 30px;
    height: auto;
}
#hero-image{
    width: 600px !important ;
    height: auto ;
}

@media screen and (max-width:480px) {
    #my-name{
        font-size: 2.5rem;
    }
}

@media screen and (min-width:481px) {
    #my-name{
        font-size: 2.8rem;
    }
}



/* #####################################################   About Section  ################################################ */

#about-section{
    background-color: var(--dark);
    height: 100%;
}
.about-text{
    color:var(--gray);
    padding-left:3rem;
    font-size: 1.1rem;
}

/* #####################################################   Skills Section  ################################################ */

#skills-section{
    margin-top: 4rem;
    background-color: var(--dark);
    height: 700px;
}
#skill-text{
    color:var(--gray);
}



/* #####################################################   Projects Section  ################################################ */
#projects-section{
    margin-top: 4rem;
    background-color: var(--dark);
    height: 100%;
}

.stack{
    display:flex;
}
#stack-img{
    width:2rem;
    margin-right:1rem;
    margin-top: 1rem;
    color:#e3e3e3 !important;
}

.project-links{
    display: flex;
    margin-top: 1.5rem;
}
#project-img{
    border-radius: 15px;
}
#project-link{
    background-color: #949494 !important;
    min-width:7rem
}

#project-description{
    color: var(--gray);
    font-size: 1rem;
}
.project-container{
    background-color: #222222;
    padding: 1.5rem;
    border-radius: 15px;
}

/* #####################################################   Blog Section  ################################################ */

#blog-section{
    margin-top: 4rem;
    background-color: var(--dark);
    height: 600px;
}